<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDe6y2Zol3QkVLQlDdwL8YI4S6q1hGZ_N4</string>
	<key>GCM_SENDER_ID</key>
	<string>887509960997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getgroup.egyptiansabroadtest</string>
	<key>PROJECT_ID</key>
	<string>egyptians-abroad</string>
	<key>STORAGE_BUCKET</key>
	<string>egyptians-abroad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887509960997:ios:6910ee6a3dfd33167b32cc</string>
</dict>
</plist>